* text=auto

.editorconfig text
.esdoc.json text
.eslintrc.yaml text
.gitattributes text
.gitignore text
.npmignore text
.nycrc text
.travis.yml text

*.js text
*.json text
*.md text
*.opts text
*.txt text
*.yaml text

*.ico binary
*.png binary
